:root {
/* ------ COLORS ------ */
/* --- FILL --- */
    --fill-dark: #141414;
    --fill-light: #EBEBEB;
    --fill-primary: #ff2b63;
    --fill-secondary: #80dfff;

/* --- TEXT --- */
    --text-dark: var(--fill-dark);
    --text-light: var(--fill-light);
    --text-primary: #c91e4b;
    --text-secondary: #569eb6;

/* ------ FONT FAMILY ------ */
    --font-heading: 'Century Gothic', Helvetica, sans-serif;
    --font-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


/* ------ BACKDROP FILTER ------ */
    --backdrop-filter: blur(25px) saturate(200%);
    --backdrop-color: rgba(255, 255, 255, 0.8);
    --backdrop-border: 1px solid rgba(255, 255, 255, 0.5);

    --transition-slow: .5s ease-in-out;
    --transition-fast: .25s ease-in-out;
}

body {
    background-color: var(--fill-light);

    background-image: linear-gradient(117.5deg, var(--fill-secondary), var(--fill-primary));
    background-attachment: fixed;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--font-heading);
}

p,
a,
span {
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
}

header {
    padding: 1rem;
}

main {
    margin: 10rem 0 10rem 0;
}

footer {
    padding: 1rem;
}



/* #content {
    -webkit-backdrop-filter: var(--backdrop-filter);
    -moz-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--backdrop-color);
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: .5rem;
    align-items: center;

    margin: 1rem;
}

.logo__image {
    width: 72px;
    height: 100%;
}

.logo__title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo__title span:nth-child(1) {
    font-size: 2.5rem;
    text-transform: lowercase;
    transform: translateY(.45rem);
}

.logo__title span:nth-child(2) {
    text-transform: uppercase;
    letter-spacing: .125rem;
    transform: translateX(.06rem) translateY(-.45rem);
}

.nav--list {
    display: flex;
    flex-direction: row;

    margin: 1rem;
    padding: 0;

    list-style: none;
}

.nav--list * {
    min-width: 85px;
}

.nav__links {
    margin: .5rem;
    border-bottom: .25rem solid transparent;
    padding: .5rem;

    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    transition: var(--transition-fast);
}

.nav__links:hover {
    border-bottom: .25rem solid var(--fill-primary);
    color: var(--text-light);
}

.nav--list li:last-child .nav__links {
    color: var(--text-primary);
}

.nav--list li:last-child .nav__links:hover {
    color: var(--text-light);
}



.hero--container {
    display: grid;
    padding-left: 3rem;
}

.hero__message__container {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: min-content;
}

.hero--message {
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
    font-family: var(--font-heading);
    font-weight: bold;
}

.hero__message-1 {
    font-size: 15vw;
}

.hero__message-2 {
    font-size: 15vw;
}

.hero__message-3 {
    font-size: 15vw;
}

.hero__message-4 {
    font-size: 15vw;
}



.hero__image__container-1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.hero--image-1 {
    object-position: left;
    object-fit: cover;
    width: 100%;
    height: 500px;
}



.logo--footer {
    flex-direction: column;
    transform: scale(.75);
}